<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Characters

    <a data-toggle="collapse" href="#actor_characters_new_form">
      Add character
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @actor.characters.each do |character| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to character, character %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to character, method: :delete, data: { confirm: "Do you really want to delete this character" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="actor_characters_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "actors/actor_characters_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
