<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @actor, partial: "card", as: :actor %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "actors/actor_characters" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "actors/actor_movies" %>
  </div>
</div>
