<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Reviews

    <a data-toggle="collapse" href="#movie_reviews_new_form">
      Add review
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @movie.reviews.each do |review| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to review, review %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to review, method: :delete, data: { confirm: "Do you really want to delete this review" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="movie_reviews_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
