<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @director, partial: "card", as: :director %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "directors/director_movies" %>
  </div>
</div>
