<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      MustSeeMovies20
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/bookmarks" class="dropdown-item">
              Bookmarks
            </a>
            <a href="/reviews" class="dropdown-item">
              Reviews
            </a>
            <a href="/directors" class="dropdown-item">
              Directors
            </a>
            <a href="/actors" class="dropdown-item">
              Actors
            </a>
            <a href="/characters" class="dropdown-item">
              Characters
            </a>
            <a href="/movies" class="dropdown-item">
              Movies
            </a>
            <a href="/profiles" class="dropdown-item">
              Profiles
            </a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if current_profile.blank? %>
          <li class="nav-item">
            <a href="/profiles/sign_in" class="nav-link">
              Sign in
            </a>
          </li>

          <li class="nav-item">
            <a href="/profiles/sign_up" class="nav-link">
              Sign up
            </a>
          </li>
        <% else %>
          <li class="nav-item">
            <a href="/profiles/edit" class="nav-link">
              Edit profile
            </a>
          </li>

          <li class="nav-item">
            <a href="/profiles/sign_out" data-method="delete" class="nav-link">
              Sign out
            </a>
          </li>
        <% end %>
      </ul>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->
</nav>
